black
botorch>=0.12.0
#cheetah-accelerator==0.7.0 # TODO Update to pip at 0.7.2 release
flake8
jupyter>=1.1.1
matplotlib>=3.10.1
numpy>=2.2.3
pandas>=2.1.0
rise==5.7.1
SciencePlots>=2.1.1
scikit-learn>=1.6.1
seaborn>=0.13.0
torch>=2.6.0
tqdm>=4.67.1
xopt>=2.4.0
lightning
git+https://github.com/desy-ml/cheetah.git
git+https://github.com/roussel-ryan/gpsr.git@30-fix-6d-example